
$color_granitegray: #686963;
$color_taupegray: #91918D;
$color_gray: #BABABB;
$color_jellybean: #E56353;
$color_salmon: #E97F72;
$color_pastelpink: #F0A9A1;
$color_white: #fff;
$color_snow: #FAFAFA;
$color_quicksilver: #A0A0A0;

 
// imagenes

// fuentes
$font_primary: "Raleway", "Bold", 100px,
 Display";  // definirla con tamaño de letra grosor y typo de una vez
$font_secundaria: "Roboto";


$colorlink: #D76C69;


// colores secciones
$colornav: #121619;
$colorfooter: #121619;
