@import '../abstracts/variables';

.boton {
    font-weight: 400;
    color: $color_font_second;
    background-color: $button_background;
}
.btn:hover{
    background-color: $hover_state;
    color: $color_font_second;
}

