
$color_font_primary: #121619;
$color_font_second: #ffffff;
$button_background: #6C6E70;
$hover_state: #D1D1D1;
 
// imagenes
$imgppal: '../../../assets/img/post-image.jpg';
$logo: '../../..//assets/img/logo.png';

// fuentes
$font_banner: "Playfair Display";  // definirla con tamaño de letra grosor y typo de una vez
$font_sec: "Roboto";


$colorlink: #D76C69;


// colores secciones
$colornav: #121619;
$colorfooter: #121619;
